<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.codecourt.mylittlelibrary">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
<activity android:name="com.codecourt.mylittlelibrary.MainActivity"/>

    </application>
</manifest>
